In [6]:
a_list = ['a','b','c','d','e','f','g','h']

In [7]:
a_list[0:2]

['a', 'b']

In [8]:
a_list[2:4]

['c', 'd']

In [10]:
a_list[3:]

['d', 'e', 'f', 'g', 'h']

In [11]:
a_list[:4]

['a', 'b', 'c', 'd']

In [12]:
a_list[:-1]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [13]:
a_list[-3:]

['f', 'g', 'h']

In [15]:
# create a list of all the integers from 1 to 100
b_list = []
for i in range(1,101):
    b_list.append(i)

In [16]:
b_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
len(a_list)

8

In [26]:
# what is a tuple

a_tuple = (1, 'a')

In [19]:
type(a_tuple
    )

tuple

In [20]:
a_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

In [21]:
a_tuple = (1, 4, 'b', [1,2,3])

In [22]:
#importing random numbers 


from random import randrange

In [68]:
c_list = []
for i in range(500): 
    c_list.append(randrange(1,101))
len(set(c_list))

99

In [3]:
# examples of dictonaries 

families = {
    "Lester-Boal": ["Paul", "Sarahlynn", "Ellie", "Ada", "Teddy"], 
    "Duck": ["Donald", "Daisy"], 
    "Kardashian": ["Kim", "Chloe", "Courtney", "Rob"]
}

In [4]:
for family in families: 
    print(family)

Lester-Boal
Duck
Kardashian

In [7]:
for surname, family in families.items(): 
    print(surname)

Lester-Boal
Duck
Kardashian

In [8]:
for surname, family in families.items(): 
    for firstname in family: 
        print("{} {}".format(firstname, surname))

Paul Lester-Boal
Sarahlynn Lester-Boal
Ellie Lester-Boal
Ada Lester-Boal
Teddy Lester-Boal
Donald Duck
Daisy Duck
Kim Kardashian
Chloe Kardashian
Courtney Kardashian
Rob Kardashian

In [12]:
#examples with dictionaries 

subjects = {
    "A1": { "PatientID": "E143291", "Age": 19 },
    "B2": { "PatientID": "E872839", "Age": 32 },
    "C3": { "PatientID": "E878198", "Age": 19 },
    "D4": { "PatientID": "E871111", "Age": 21 },
    "E5": { "PatientID": "E143299", "Age": 3  },
    "F6": { "PatientID": "E123332", "Age": 21 },
    "H7": { "PatientID": "E989891", "Age": 19 }
}

In [16]:
patients = {}
for subject, info in subjects.items():
    patientid = info["PatientID"]
    age = info["Age"]
    patients[patientid] = {"SubjectID": subject, "Age": age}

In [17]:
patients

{'E143291': {'SubjectID': 'A1', 'Age': 19},
 'E872839': {'SubjectID': 'B2', 'Age': 32},
 'E878198': {'SubjectID': 'C3', 'Age': 19},
 'E871111': {'SubjectID': 'D4', 'Age': 21},
 'E143299': {'SubjectID': 'E5', 'Age': 3},
 'E123332': {'SubjectID': 'F6', 'Age': 21},
 'E989891': {'SubjectID': 'H7', 'Age': 19}}

In [18]:
# exercise from slides 
families = {
    "Lester-Boal": [
        { "First Name": "Paul", "Age": 43 },
        { "First Name": "Ada", "Age": 13 },
        { "First Name": "Ellie", "Age": 16 }
    ],
    "Duck": [
        { "First Name": "Daisy", "Age": 64 },
        { "First Name": "Donald", "Age": 67 }
    ]
}

In [19]:
families

{'Lester-Boal': [{'First Name': 'Paul', 'Age': 43},
  {'First Name': 'Ada', 'Age': 13},
  {'First Name': 'Ellie', 'Age': 16}],
 'Duck': [{'First Name': 'Daisy', 'Age': 64},
  {'First Name': 'Donald', 'Age': 67}]}

In [27]:
for family, members in families.items():
    print("****")
# print(members)
    count = len(members)
    total_age = 0 
    for member in members: 
        total_age += member["Age"]
    print("The average age of {} {}s is {}". format(count, family, total_age / count))

****
The average age of 3 Lester-Boals is 24.0
****
The average age of 2 Ducks is 65.5

In [28]:
# Using Comprehend

names = [["Ada", "Boal"], 
        ["Paul", "Boal"], 
        ["Teddy", "Boal"],
         ["Daisy", "Duck"],
         ["Donald", "Duck"], 
         ["Eric", "Westhus"]]

In [30]:
names = ["PAUL", "Ada", "ellie", "TEddy", "SarahLYnn"]

In [31]:
[ name[0].upper() +name[1:].lower() for name in names ]

['Paul', 'Ada', 'Ellie', 'Teddy', 'Sarahlynn']

In [32]:
[ name.title() for name in names]

['Paul', 'Ada', 'Ellie', 'Teddy', 'Sarahlynn']